
.dingbu{
	width: 100%;
	height: 0.41rem;
	background: #37BBFF;
	position: fixed;
}
.dingbu img{
	width: 100%;
	height: auto;
}


.logo{
	width: 100%;
	height: 0.7rem;
	background: #007BE3;
	position: fixed;
	margin-top: 0.41rem;
}
.logo .left{
	width:48%;
	height: 0.5rem;
    float: left;
	
}
.logo .left img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin-top: 0.05rem;
	margin-left: 2.8rem;

}
.logo .right{
	width: 52%;
	height: 0.5rem;
	float: left;	
	line-height: 0.7rem;
}
.logo .right h3{
	font-size: 0.27rem;
	color: white;
}

.banner{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner img{
	width: 100%;
	height:auto;
	margin-top: 1.11rem;
}

.hengzi{
	width: 100%;
	height: 0.67rem;

}
.hengzi span{
	box-sizing: border-box;
	padding-left: 0.2rem;
	font-size: 0.2rem;
	line-height: 0.67rem;
}

	
	
	
	
.fenye1{
	width: 100%;
	height: 0.60rem;
	overflow: hidden;
	margin-top: 0.2rem;
	background: white;
	display: flex;
	align-items:center;
}
.fenye1 .left{
	float: left;
	width: 0.62rem;
	height: 0.33rem;
	margin-left: 0.36rem;
	background: white;
	box-sizing: border-box;
	border:0.01rem solid #E2E2E2;
	border-radius:0.2rem;
	position: relative;
}
.fenye1 .left .left1{
	width: 0.56rem;
	height: 0.27rem;
    box-sizing: border-box;
	border:0.01rem solid #988B8B;
	border-radius:0.2rem;
	position: absolute;
	left: 0.02rem;
	top:0.02rem;
	text-align: center;
	line-height: 0.20rem;
}
.fenye1 .left .left1 span{
	font-size: 0.4rem;
	color: #988B8B;
	
}
.fenye1 .yuan{
	float: left;
	width: 0.33rem;
	height: 0.33rem;
	margin-left: 0.12rem;
	background: white;
	box-sizing: border-box;
	border:0.01rem solid #E2E2E2;
	border-radius:50%;
	position: relative;
	
}
.fenye1 .yuan .yuan1{
	width: 0.27rem;
	height: 0.27rem;
    box-sizing: border-box;
	border:0.01rem solid #988B8B;
	border-radius:0.2rem;
	position: absolute;
	left: 0.02rem;
	top:0.02rem;
	line-height: 0.27rem;
}
.fenye1 .yuan .yuan1 span{
	font-size: 0.15rem;
	color: #988B8B;
	margin-left: 0.08rem;
}
.fenye1 .yuan .sanshi span{
	margin-left: 0.05rem;
}
.fenye1 .yuan4{
	float: left;
	width: 0.33rem;
	height: 0.33rem;
	margin-left: 0.12rem;
	background: #00B4FF;
	box-sizing: border-box;
	box-shadow: 0rem 0.02rem 0.08rem #00B4FF;
	border:0.01rem solid #E2E2E2;
	border-radius:50%;
	position: relative;

	
}
.fenye1 .yuan4 .yuan44{
	width: 0.27rem;
	height: 0.27rem;
    box-sizing: border-box;
	border:0.01rem solid white;
	border-radius:0.2rem;
	position: absolute;
	left: 0.02rem;
	top:0.02rem;
	line-height: 0.27rem;
}
.fenye1 .yuan4 .yuan44 span{
	font-size: 0.15rem;
	color: white;
	margin-left: 0.08rem;
}
.fenye1 .xian{
	width: 0.3rem;
	height: 0.2rem;
	float: left;
	margin-left: 0.12rem;
	text-align: center;
	line-height: 0.25rem;
}
.fenye1 .xian span{
	font-size: 0.2rem;
	color: #988B8B;
}

.fenye1 .leftt{
	float: left;
	width: 0.62rem;
	height: 0.33rem;
	margin-left: 0.12rem;
	background: white;
	box-sizing: border-box;
	border:0.01rem solid #E2E2E2;
	border-radius:0.2rem;
	position: relative;
}
.fenye1 .leftt .left1{
	width: 0.56rem;
	height: 0.27rem;
    box-sizing: border-box;
	border:0.01rem solid #988B8B;
	border-radius:0.2rem;
	position: absolute;
	left: 0.02rem;
	top:0.02rem;
	line-height: 0.20rem;
	text-align: center;
}
.fenye1 .leftt .left1 span{
	font-size: 0.4rem;
	color: #988B8B;
	
}
.fenye1 .zi{
	width: 0.48rem;
	height: 0.33rem;
	float: left;
	margin-left: 0.55rem;
	text-align: center;
	line-height: 0.33rem;
}
.fenye1 .zi span{
	font-size: 0.15rem;
	color: #988B8B;
}
.fenye1 .leftf{
	float: left;
	width: 0.62rem;
	height: 0.33rem;
	margin-left: 0.07rem;
	background: #FAFAFA;
	box-sizing: border-box;
	border:0.01rem solid #E2E2E2;
	border-radius:0.2rem;
	position: relative;
}
.fenye1 .leftf .left1{
	width: 0.56rem;
	height: 0.27rem;
    box-sizing: border-box;
	border:0.01rem solid #E2E2E2;
	border-radius:0.2rem;
	position: absolute;
	left: 0.02rem;
	top:0.02rem;
}
.fenye1 .zi1{
	width: 0.2rem;
	height: 0.33rem;
	float: left;
	margin-left: 0.08rem;
	text-align: center;
	line-height: 0.33rem;
}
.fenye1 .zi1 span{
	font-size: 0.15rem;
	color: #988B8B;
}
.fenye1 .yuan .sanshi1 span{
	font-size: 0.12rem;
	margin-left: 0.04rem;
}


.dibu{
	width: 100%;
	hanging-punctuation: auto;
	text-align: center;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.dibu p{
	font-size: 0.2rem;
	color: #8F8F91;
}


.lou5{
	width: 100%;
    height: auto;
    overflow: hidden;
    background: white;
    margin-top: 0.2rem;
   
}
.lou5 .top{
	width: 95%;
	height: 0.4rem;	
	margin:0 auto;
	
}
.lou5 .top .left{
	width: 0.04rem;
	height: 0.2rem;
	background: #01B5FF;
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	
}
.lou5 .top .span{
	width: 80%;
	height: 0.2rem;
	float: right;
	margin-top: -0.25rem;
	margin-right: 1.4rem;
}
.lou5 .top span{
	font-size: 0.2rem;
	box-sizing: border-box;
	padding-left:0.3rem;	
}
.lou5 .top1{
	width: 95%;
	height: auto;
	margin:0 auto;
	overflow: hidden;
	
}
.lou5 .top1 .left{
	width: 0.04rem;
	height: 0.2rem;
	
}
.lou5 .top1 .left img{
	width: 0.14rem;
	height: 0.14rem;
    margin-left: 0.12rem;
}
.lou5 .top1 .span{
	width: 6.59rem;
	height: 2.5rem;
	height: auto;
	float: right;
	margin-top: -0.25rem;
	margin-right: 0.20rem;
	margin-bottom: 0.25rem;
	border-bottom:0.01rem dashed #ccc;
}
.lou5 .top1 span{
	font-size: 0.2rem;
	color: #A1A1A1;
}
.lou5 .top1 .span .bottom{ 
	width: 100%;
	height: 0.4rem;
	text-align: center;
	margin-top: 0.2rem;
}
.lou5 .top1 .span .bottom a{
	text-decoration: none;
	color: #FF9B19;
	font-size: 0.2rem;
	
}
